In [25]:
#lista
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

#Acceder a elementos de lista 
print('The first planet is', planets[0])
print('The second planet is', planets[1])
print('The third planet is', planets[2])

The first planet is Mercury
The second planet is Venus
The third planet is Earth

In [26]:
planets[3] = 'Red Planet'
print('Mars is also known as', planets[3])

Mars is also known as Red Planet

In [27]:
#Determinar la longitud de una lista
#len sirve para obtener la longitud de una lista
number_of_planets = len(planets)
print('There are', number_of_planets, 'planets in the solar system')

There are 8 planets in the solar system

In [28]:
#Agregar valores a lista
#se utiliza .appened(value) para agregar un elemento a la lista
planets.append('Pluto')
number_of_planets = len(planets)
print('There are actually', number_of_planets, 'planets in the solar system.')

There are actually 9 planets in the solar system.

In [4]:
#Eliminar valores de las lista
#Se utiliza .pop() para eliminar el ultimo elemento
planets.pop() 
#En este caso va a eliminar
number_of_planets= len(planets)
print('No, there are definitely' , number_of_planets,'planets in the solar system')

No, there are definitely 7 planets in the solar system

In [7]:
#Inidce Negativo
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])

#El -1 retorna el ultimo y el -2 el penultimo y asi susecivamente

The last planet is Neptune
The penultimate planet is Uranus

In [8]:
#Buscar valor en una lista
#Para buscar un elemento en una lista se ultiliza index() y si no encuentra devuelve un -1

jupiter_index = planets.index('Jupiter')
print('Jupiter is the', jupiter_index + 1, 'planet from the sun')

Jupiter is the 5 planet from the sun

In [10]:
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166

gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

bus_weight = 12650  #Kilogramos

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighs', bus_weight * gravity_on_planets[0], 'kg')

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7 kg

In [11]:
#Min() y max() en listas
#La funcion max() devuelve el numero mas grande 
#La funcion min() devuelve el numero mas peque√±o

bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

In [12]:
#Manipular datos de la lista
#slicing  examina una parte de la lista este utiliza corchetes y tiene el indice inicial y final de los elementos que queremos buscar
#Cuando se uiliza slice se crea una nueva lista que comienza con el indice inicial y termina uno antes del indice final

planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth)

['Mercury', 'Venus']

In [13]:
#Para tener los planetas despues de la tierra se comienza del tercero al octavo
planets_after_earth = planets[3:8]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [15]:
#si no se define indice final se toma como si quisieras ir hasta el final de la lista
planets_after_earth = planets[3:]
print(planets_after_earth)

#slice crea una nueva lista no modifica la actual

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [16]:
#Uniendo listas
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

In [17]:
#Ordenar
#Para ordenar en orden alfabetico o numerico se utiliza el sort()
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [19]:
#Ordenar de manera inversa
#Se utiliza .sort(reverser=True)

regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

#.sort modifica la lista actual

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']